// scss-lint:disable SelectorFormat

.Message {
  border-radius: $border-radius;
  padding: $spacer;
}

.Message--success {
  background-color: $green-300;
  color: $white;
}

.Message--info {
  background-color: $purple-300;
  color: $white;
}

.Message--danger {
  background-color: $red-200;
  color: $white;
}
