// scss-lint:disable SelectorFormat

.Message {
  background-color: $gray-200;
  border-radius: $border-radius;
  padding: $spacer;
}

.Message--success {
  background-color: $brand-success;
  color: $white;
}

.Message--info {
  background-color: $brand-primary;
  color: $white;
}

.Message--danger {
  background-color: $brand-danger;
  color: $white;
}
