{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["react"],
  "extends": ["airbnb", "plugin:react/recommended"],
  "rules": {
    "curly": ["error"],
    "comma-dangle": ["error", "always-multiline"],
    "function-paren-newline": ["error", "consistent"],
    "func-names": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "max-len": ["error", { "code": 120 }],
    "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
    "no-underscore-dangle": ["error", { "allow": ["__preview"] }],
    "object-curly-newline": "off",
    "react/prop-types": "off",
    "semi": ["error", "always", { "omitLastInOneLineBlock": true}],
    "vars-on-top": "off",
  }
}
