{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["prettier", "react"],
  "rules": {
    "no-unused-vars": [
      "error",
      { "varsIgnorePattern": "\\b_\\w+_\\b", "args": "none" }
    ],
    "semi": ["error", "always"],
    "react/prop-types": "off",
    "react/prefer-stateless-function": [1]
  }
}
