// scss-lint:disable SelectorFormat ElsePlacement
@mixin button-sizer($size: 'medium') {
  @if $size == 'small' {
    font-size: $font-size-2;
    padding: modular-scale-px(-6) modular-scale-px(-1) modular-scale-px(-5);
  }

  @else if $size == 'medium' {
    font-size: $font-size-3;
    padding: modular-scale-px(-3) modular-scale-px(2) modular-scale-px(-2);
  }

  @else if $size == 'large' {
    font-size: $font-size-4;
    padding: modular-scale-px(0) modular-scale-px(4) modular-scale-px(1);
  }
}

.Button {
  @include button-sizer;
  background: rgba($black, $alpha-200);
  border: 0;
  border-radius: $border-radius;
  color: $text-color-primary;
  cursor: pointer;
  display: inline-block;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  text-align: center;
  transition: all .2s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus,
  &.Button--is-hovered,
  &.Button--is-focused {
    @include depth(4);
    background: rgba($black, $alpha-200 + .05);
    color: $text-color-primary;
    text-decoration: none;
    transform: translateY(-2.25px) scaleX(1.015) scaleY(1.015);
    transition-duration: .07s;
  }

  &:disabled,
  &.Button--is-disabled {
    opacity: $alpha-600;
    pointer-events: none;
  }

  &:active,
  &.Button--is-active {
    @include depth(0);
    background: rgba($black, $alpha-200 + .11);
    transform: translateY(0) scaleX(1) scaleY(1);
    transition-duration: 0s;
  }

  // Allow focus indicator when tabbing but hide it if clicking
  &:active:focus {
    outline: 0;
  }
}

.Button--danger {
  background: $red;
  color: $white;

  &:hover,
  &:focus,
  &.Button--is-hovered,
  &.Button--is-focused {
    background: darken($red, 5);
    color: $white;
  }

  &:active,
  &.Button--is-active {
    background: darken($red, 11);
  }
}

.Button--primary {
  @include depth(4);
  background: $blue;
  color: $white;
  font-weight: $font-weight-bold;

  &:hover,
  &:focus,
  &.Button--is-hovered,
  &.Button--is-focused {
    @include depth(7);
    background: darken($blue, 5);
    color: $white;
  }

  &:active,
  &.Button--is-active {
    background: darken($blue, 11);
  }
}

.Button--link {
  background: transparent;
  color: $blue;

  &:hover,
  &:focus,
  &.Button--is-hovered,
  &.Button--is-focused {
    background: rgba($black, .05);
    color: $blue-300;
  }

  &:active,
  &.Button--is-active {
    background: rgba($black, .11);
    color: $blue-400;
  }
}

.Button--small {
  @include button-sizer($size: 'small');
}

.Button--large {
  @include button-sizer($size: 'large');
}

@if $enable-form-utilities {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $suffix: breakpoint-suffix($breakpoint, $grid-breakpoints);
      .Button--medium#{$suffix} { @include button-sizer; }
      .Button--small#{$suffix} { @include button-sizer($size: 'small'); }
      .Button--large#{$suffix} { @include button-sizer($size: 'large'); }
    }
  }
}
