// scss-lint:disable SelectorFormat ElsePlacement StringQuotes

@mixin switch-sizer() {
  $width: modular-scale-px(7);
  $height: modular-scale-px(3);
  $toggler-radius: $height - ($border-width * 2);

  .Switch__indicator {
    border-radius: ($height / 2);
    height: $height;
    width: $width;

    &::after {
      height: $toggler-radius;
      right: $width - $border-width - $toggler-radius;
      width: $toggler-radius;
    }
  }
}

.Switch {
  @include switch-sizer;
  // Cancel the default margin for label tags
  margin: 0;
  position: relative;
}

.Switch__indicator {
  background-color: $gray-300;
  cursor: pointer;
  transition: background-color .35s ease-out;

  &::after {
    @include depth(7);
    background: $white;
    border-radius: 50%;
    content: " ";
    position: absolute;
    top: $border-width;
    transition: right .15s ease-out;
  }
}

.Switch__input {
  opacity: 0;
  position: absolute;
  z-index: -1;

  &:checked ~ .Switch__indicator {
    background-color: $green-200;

    &::after {
      right: $border-width;
    }
  }

  &:disabled ~ .Switch__indicator {
    cursor: auto;
    opacity: $alpha-600;
  }
}
