// scss-lint:disable SelectorFormat

.Message {
  background-color: $gray-200;
  border-radius: $border-radius;
  padding: $spacer;
}

.Message--success {
  background-color: var(--message-success-bg-color);
  color: $white;
}

.Message--info {
  background-color: var(--message-info-bg-color);
  color: $white;
}

.Message--danger {
  background-color: var(--message-danger-bg-color);
  color: $white;
}
