.form-control {
  border: 2px solid $gray-300;
  border-radius: $border-radius;
  font-size: $font-size-3;
  width: 100%;

  &::placeholder {
    color: $text-color-hint;
  }
}

%form-control-small {
  font-size: $font-size-2;
}

%form-control-large {
  font-size: $font-size-5;
}

.form-control-small {
  @extend %form-control-small;
}

.form-control-large {
  @extend %form-control-large;
}
