// Usage:
// box-shadow: depth(4);
@function depth($depth: 4) {
  $d: $depth * 1px;

  // x y blur alpha
  $shadow-1: 0 round($d / modular-scale-ratio(3)) round($d * modular-scale-ratio(3)) rgba($black, $alpha-300);
  $shadow-2: 0 round($d / modular-scale-ratio(12)) round($d / modular-scale-ratio(9)) rgba($black, $alpha-200);
  $shadow-3: 0 0 round($d * modular-scale-ratio(3)) rgba($black, $alpha-200);

  @return $shadow-1, $shadow-2, $shadow-3;
}
