// ------------------------------
// Typography functions
// ------------------------------

// Letter spacing
// letter_spacing = -0.6 * [floor(font_size * 0.02)^2]
@function letter-spacing($step) {
  $size: modular-scale-rounded($step);
  $size-adjusted: floor($size * 0.02);
  @return -0.6 * ($size-adjusted * $size-adjusted) * 1px;
}

// Uppercase letter spacing
// all_caps_letter_spacing = font_size * 0.143
@function letter-spacing-uppercase($step) {
  $size: modular-scale-rounded($step);
  @return ($modular-scale-ratio - 1) * $size * 1px;
}


// ------------------------------
// Typography mixins
// ------------------------------

@mixin text-1($font-weight: normal) {
	font-size: $font-size-1;
	line-height: $line-height-3;
	letter-spacing: letter-spacing(-2);
	font-weight: $font-weight;
}

@mixin text-2($font-weight: normal) {
	font-size: $font-size-2;
	line-height: $line-height-3;
	letter-spacing: letter-spacing(-1);
	font-weight: $font-weight;
}

@mixin text-3($font-weight: normal) {
	font-size: $font-size-3;
	line-height: $line-height-3;
	letter-spacing: letter-spacing(0);
	font-weight: $font-weight;
}

@mixin text-4($font-weight: normal) {
	font-size: $font-size-4;
	line-height: $line-height-3;
	letter-spacing: letter-spacing(1);
	font-weight: $font-weight;
}

@mixin text-5($font-weight: normal) {
	font-size: $font-size-5;
	line-height: $line-height-3;
	letter-spacing: letter-spacing(2);
	font-weight: $font-weight;
}

@mixin text-6($font-weight: normal) {
	font-size: $font-size-6;
	line-height: $line-height-2;
	letter-spacing: letter-spacing(3);
	font-weight: $font-weight;
}

@mixin text-7($font-weight: normal) {
	font-size: $font-size-7;
	line-height: $line-height-2;
	letter-spacing: letter-spacing(6);
	font-weight: $font-weight;
}

@mixin text-8($font-weight: normal) {
	font-size: $font-size-8;
	line-height: $line-height-1;
	letter-spacing: letter-spacing(9);
	font-weight: $font-weight;
}
