// ------------------------------
// Responsive type utilities
// ------------------------------
//
// Example: <div class="text-1 text-2-md"> would be 12px at xs and sm sizes,
// and 14px at md, lg, and xl sizes.
//
// Example: <h1 class="h3 h2-sm h1-md"> would be rendered as an h3 at xs size,
// as an h2 at sm size, and as an h1 at md size and up.
//
// scss-lint:disable ImportantRule
// scss-lint:disable SpaceBeforeBrace

@if $enable-type-utilities {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $suffix: breakpoint-suffix($breakpoint, $grid-breakpoints);

      .text-1#{$suffix} { @include text-1($important: true); }
      .text-2#{$suffix} { @include text-2($important: true); }

      .text-3#{$suffix}, .h6#{$suffix} { @include text-3($important: true); }
      .text-4#{$suffix}, .h5#{$suffix} { @include text-4($important: true); }
      .text-5#{$suffix}, .h4#{$suffix} { @include text-5($important: true); }
      .text-6#{$suffix}, .h3#{$suffix} { @include text-6($important: true); }
      .text-7#{$suffix}, .h2#{$suffix} { @include text-7($important: true); }
      .text-8#{$suffix}, .h1#{$suffix} { @include text-8($important: true); }

      .h1#{$suffix},
      .h2#{$suffix},
      .h3#{$suffix},
      .h4#{$suffix},
      .h5#{$suffix},
      .h6#{$suffix} { font-weight: $font-weight-bold !important; }

      .uppercase-1#{$suffix} { @include uppercase-1($important: true); }
      .uppercase-2#{$suffix} { @include uppercase-2($important: true); }
      .uppercase-3#{$suffix} { @include uppercase-3($important: true); }
    }
  }
}


// ------------------------------
// Text color utilities
// ------------------------------

.text-color-inherit { color: inherit !important; }

.text-color-primary   { color: var(--text-color-primary)   !important; }
.text-color-secondary { color: var(--text-color-secondary) !important; }
.text-color-hint      { color: var(--text-color-hint)      !important; }

.text-color-reversed-primary   { color: var(--text-color-primary-reversed)   !important; }
.text-color-reversed-secondary { color: var(--text-color-secondary-reversed) !important; }
.text-color-reversed-hint      { color: var(--text-color-hint-reversed)      !important; }

.text-color-orange { color: $orange !important; }
.text-color-orange-100 { color: $orange-100 !important; }
.text-color-orange-200 { color: $orange-200 !important; }
.text-color-orange-300 { color: $orange-300 !important; }
.text-color-orange-400 { color: $orange-400 !important; }
.text-color-orange-500 { color: $orange-500 !important; }

.text-color-red { color: $red !important; }
.text-color-red-100 { color: $red-100 !important; }
.text-color-red-200 { color: $red-200 !important; }
.text-color-red-300 { color: $red-300 !important; }
.text-color-red-400 { color: $red-400 !important; }
.text-color-red-500 { color: $red-500 !important; }

.text-color-purple { color: $purple !important; }
.text-color-purple-100 { color: $purple-100 !important; }
.text-color-purple-200 { color: $purple-200 !important; }
.text-color-purple-300 { color: $purple-300 !important; }
.text-color-purple-400 { color: $purple-400 !important; }
.text-color-purple-500 { color: $purple-500 !important; }

.text-color-blue { color: $blue !important; }
.text-color-blue-100 { color: $blue-100 !important; }
.text-color-blue-200 { color: $blue-200 !important; }
.text-color-blue-300 { color: $blue-300 !important; }
.text-color-blue-400 { color: $blue-400 !important; }
.text-color-blue-500 { color: $blue-500 !important; }

.text-color-green { color: $green !important; }
.text-color-green-100 { color: $green-100 !important; }
.text-color-green-200 { color: $green-200 !important; }
.text-color-green-300 { color: $green-300 !important; }
.text-color-green-400 { color: $green-400 !important; }
.text-color-green-500 { color: $green-500 !important; }

.text-color-gray-100 { color: $gray-100 !important; }
.text-color-gray-200 { color: $gray-200 !important; }
.text-color-gray-300 { color: $gray-300 !important; }
.text-color-gray-400 { color: $gray-400 !important; }
.text-color-gray-500 { color: $gray-500 !important; }
.text-color-gray-600 { color: $gray-600 !important; }
.text-color-gray-700 { color: $gray-700 !important; }
.text-color-gray-800 { color: $gray-800 !important; }


// ------------------------------
// Text weight/style utilities
// ------------------------------

.text-weight-bold   { font-weight: $font-weight-bold   !important; }
.text-weight-normal { font-weight: $font-weight-normal !important; }

.text-style-italic { font-style: italic !important; }
.text-style-normal { font-style: normal !important; }

.text-underline { text-decoration: underline !important; }

// TODO: Alignment
