// scss-lint:disable SelectorFormat
@mixin form-group-sizer($size) {
  @if $size == 'small' {
    .FormGroup__label,
    .FormGroup__error,
    .FormGroup__hint {
      font-size: $font-size-1;
    }
  }

  @if $size == 'large' {
    .FormGroup__label,
    .FormGroup__error {
      font-size: $font-size-4;
    }

    .FormGroup__hint {
      font-size: $font-size-2;
    }
  }

  .FormControl {
    @include form-control-sizer($size: $size);
  }
}

.FormGroup__error {
  color: $red;
  font-size: $font-size-2;
}

.FormGroup__label {
  font-size: $font-size-2;
  font-weight: $font-weight-bold;
}

.FormGroup__hint {
  font-size: $font-size-1;
}

.FormGroup--has-error {
  .FormControl {
    border-color: $red;
  }
}

.FormGroup--small {
  @include form-group-sizer($size: 'small')
}

.FormGroup--large {
  @include form-group-sizer($size: 'large')
}

@if $enable-type-utilities {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $suffix: breakpoint-suffix($breakpoint, $grid-breakpoints);
      .FormGroup--small#{$suffix} { @include form-group-sizer($size: 'small'); }
      .FormGroup--large#{$suffix} { @include form-group-sizer($size: 'large'); }
    }
  }
}
