// ------------------------------
// NOTE:
// These variables are replicated in the documentation website
// for Phenotypes. Please make sure that the theming guide at ./guides/11-theming.md
// is updated with any new variables that are added.
// ------------------------------
:root {
  // base variable set
  // interpolation removes quotes from strings
  // we can use inspect to preserve strings
  // See Heads up section on the following page:
  // https://sass-lang.com/documentation/style-rules/declarations#custom-properties
  --font-family: #{inspect($font-family-base)};
  --text-color-primary: #{$text-color-primary};
  --text-color-secondary: #{$text-color-secondary};
  --text-color-hint: #{$text-color-hint};
  --text-color-primary-reversed: #{$text-color-reversed-primary};
  --text-color-secondary-reversed: #{$text-color-reversed-secondary};
  --text-color-hint-reversed: #{$text-color-reversed-hint};

  @include color-variable(--brand-color-primary, $brand-primary);
  @include color-variable(--brand-color-accent, $purple-200);
  @include color-variable(--positive-color, $brand-success);
  @include color-variable(--negative-color, $brand-danger);
  @include color-variable(--warning-color, $brand-warning);
  @include color-variable(--interactive-color, $brand-info);
  --error-color: var(--negative-color);

  --link-color: var(--interactive-color);
  @include color-variable(--link-hover-color, $link-hover-color);
  @include color-variable(--link-color-reversed, $blue-100);
  @include color-variable(--step-progress-active-color, $purple-200);
  @include color-variable(--focus-color, $blue-200);
  @include color-variable(--focus-color-shadow, $blue-100);
  @include color-variable(--widget-on-color, $green-200);

  // glow opacities
  --step-progress-active-glow-opacity: #{$alpha-600};
  --text-input-glow-opacity: 1;
  --checkbox-focus-glow-opacity: var(--text-input-glow-opacity);
  --checkbox-checked-focus-glow-opacity: #{$alpha-400};
  --radio-focus-glow-opacity: var(--text-input-glow-opacity);
  --radio-checked-focus-glow-opacity: var(
    --checkbox-checked-focus-glow-opacity
  );
  --slider-focus-glow-opacity: #{$alpha-700};

  @include color-variable(--message-success-bg-color, $green-300);
  --message-info-bg-color: var(--brand-color-primary);
  --message-danger-bg-color: var(--error-color);

  --danger-button-color: var(--negative-color);
  --danger-button-focus-color: #{darken($red-300, 10%)};
  --danger-button-active-color: #{darken($red-300, 20%)};

  --primary-button-color: var(--interactive-color);
  --primary-button-focus-color: #{$blue-400};
  --primary-button-active-color: #{darken($blue-400, 10%)};

  --border-radius: 3px;
}
