// scss-lint:disable SelectorFormat ElsePlacement

@mixin button-sizer($size: 'medium') {
  .Button__control {
    @if $size == 'small' {
      font-size: $font-size-2;
      padding: modular-scale-px(-6) modular-scale-px(-1) modular-scale-px(-5);
    }

    @else if $size == 'medium' {
      font-size: $font-size-3;
      padding: modular-scale-px(-3) modular-scale-px(2) modular-scale-px(-2);
    }

    @else if $size == 'large' {
      font-size: $font-size-4;
      padding: modular-scale-px(0) modular-scale-px(4) modular-scale-px(1);
    }
  }
}

// Basic button
// ------------

.Button {
  @include button-sizer;
  display: inline-block;
}

.Button__control {
  // scss-lint:disable PropertySortOrder
  background: rgba($black, $alpha-200);
  border: 0;
  border-radius: $border-radius;
  color: var(--text-color-primary);
  cursor: pointer;
  display: inline-block;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  text-align: center;
  transition: all .2s ease-out;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;

  // scss-lint:disable VendorPrefix
  // TODO: Add Autoprefixer
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.Button__control:hover,
.Button__control:focus {
  @include depth(4);
  background: rgba($black, $alpha-200 + .05);
  color: var(--text-color-primary);
  text-decoration: none;
  transform: translateY(-2.25px) scaleX(1.015) scaleY(1.015);
  transition-duration: .08s;
}

.Button__control:active,
.Button--is-active .Button__control,
.Button--is-active .Button__control:focus {
  @include depth(0);
  background: rgba($black, $alpha-200 + .11);
  transform: translateY(0) scaleX(1) scaleY(1);
  transition-duration: 0s;
}

// Allow focus indicator when tabbing but hide it if clicking
.Button__control:active:focus,
.Button--is-active .Button__control:focus, {
  outline: 0;
}

.Button__control:disabled,
.Button--is-disabled .Button__control {
  opacity: $alpha-600;
  pointer-events: none;
}

.Button--is-disabled {
  cursor: not-allowed;
}

// Danger button
// -------------

.Button--danger {
  .Button__control {
    background: var(--danger-button-color);
    color: $white;
    font-weight: $font-weight-bold;

    &:hover,
    &:focus {
      background: var(--danger-button-focus-color);
      color: $white;
    }
  }

  .Button__control:active,
  &.Button--is-active .Button__control {
    background: var(--danger-button-active-color);
  }
}

// Primary button
// --------------

.Button--primary {
  .Button__control {
    @include depth(4);
    background: var(--primary-button-color);
    color: $white;
    font-weight: $font-weight-bold;

    &:hover,
    &:focus {
      @include depth(7);
      background: var(--primary-button-focus-color);
      color: $white;
    }
  }

  .Button__control:active,
  &.Button--is-active .Button__control {
    @include depth(0);
    background: var(--primary-button-active-color);
  }
}

// Link style button
// -----------------

.Button--link .Button__control {
  .Button__control {
    background: transparent;
    color: $blue;

    &:hover,
    &:focus {
      background: rgba($black, .05);
      color: $blue-300;
    }
  }

  .Button__control:active,
  &.Button--is-active .Button__control {
    background: rgba($black, .11);
    color: $blue-400;
  }
}

// Touch devices
// -------------
// Touch devices apply the hover state when a button is tapped,
// so we use that in place of the active state. Since there's no
// hovering on a touch device, we remove the hover transitions too.

// Note: remember to include an ontouchstart listener on the document
// This: document.addEventListener("touchstart", function() {},false);
// Or this: <body ontouchstart="">

@media (pointer: coarse), (any-pointer: coarse) {
  .Button__control:hover {
    @include depth(0);
    background: rgba($black, $alpha-200 + .11);
    transform: translateY(1px) scaleX(.985) scaleY(.985);
  }

  .Button--danger .Button__control:hover {
    background: darken($red, 11);
  }

  .Button--primary .Button__control:hover {
    background: darken($blue, 11);
  }

  .Button--link .Button__control:hover {
    background: rgba($black, .11);
    color: $blue-400;
  }
}

// Sizers and responsive utilities
// -------------------------------

@if $enable-responsive-form-components {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $suffix: breakpoint-suffix($breakpoint, $grid-breakpoints);
      .Button--medium#{$suffix} { @include button-sizer; }
      .Button--small#{$suffix} { @include button-sizer('small'); }
      .Button--large#{$suffix} { @include button-sizer('large'); }
    }
  }
} @else {
  .Button--small { @include button-sizer('small'); }
  .Button--large { @include button-sizer('large'); }
}
